<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Places</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
{{range .Articles}}
<ul>
    <li>
        <div>{{.PostDate}}: {{.Title}}</div>
        <div style="text-overflow: ellipsis">{{.Text}}</div>
        <div style="display: none;">{{.Id}}</div>
    </li>
</ul>
{{end}}
{{if (ne .CurPage 1)}}
<a href="/?page={{.PrevPage}}">Previous</a>
{{end}}
{{if (ne .CurPage .TotalPages)}}
<a href="/?page={{.NextPage}}">Next</a>
{{end}}
<a href="/?page={{.TotalPages}}">Last</a>
</body>
</html>